.stats-section {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 65px;
  max-width: 1000px;
  width: 90%;
}

.stat-box {
  text-align: center;
  flex: 1 1 200px;
}

.stat-number {
  font-size: 3rem;
  font-weight: 800;
  color: #ffd700; /* لون مميز */
  margin-bottom: 10px;
}

.stat-title {
  font-size: 1.1rem;
  color: #ffd700;
  text-transform: capitalize;
  font-weight: 500;
}
