.MN__blog {
  justify-content: column;
}

.MN__blog-heading {
  width: 100%;

  text-align: right;
  margin-bottom: 5rem;
}
.MN__blog-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  letter-spacing: -0.04em;
  line-height: 75px;
}
.MN__blog-container {
  display: flex;

  flex-direction: row;
}
.MN__blog-container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}
.MN__blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media screen and (max-width: 990px) {
  .MN__blog-container {
    flex-direction: column-reverse;
  }
  .MN__blog-container_groupA {
    margin: 2rem 0;
  }
  .MN__blog-container_groupB {
    grid-template-columns: 1fr;
  }
  .MN__blog-container_groupA .MN__blog-container_article {
    width: 100%;
  }
  .MN__blog-container_groupA .MN__blog-container_article-image {
    height: 250px;
  }
}
@media screen and (max-width: 700px) {
  .MN__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }
  .MN__blog-container_groupA .MN__blog-container_article {
    width: 100%;
  }
  .MN__blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}
@media screen and (max-width: 550px) {
  .MN__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
.MN__blog-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}
